*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%

}
a{
	text-decoration: none;
}

	.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right:0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6rem;
}

.sidenav a {
  padding: .8rem .8rem .8rem 3.2rem;
  text-decoration: none!important;
  font-size: 2.5rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left:.2rem;
  color: white;
  font-size: 3.6rem;
  
}
.nav-btn{
	right: 0;
	position: absolute;
	margin-right: 2rem;
}
/*navbar ends here*/


/*<!----------------------------------------------- hero-box start -->*/




.box{
	background-color: black;
	width: 100%;
	height: 100vh;
}

/*<------------------------------------------------- hero-box ends -->*/

/*banner text*/
.banner-text h4,h1,p{
	color: #fff;
}

.banner-text h1{
	font-size: 12rem;
}
.banner-text h4{
	font-size: 2rem;
}
.banner-text p{
	font-size: 1.2rem;
}

.banner-text-area{
	padding-top: 16rem;
}
.banner-btn{
	    margin-left: 19rem!important;
    margin-top: 8rem;
    padding: 3rem!important ;
    border-radius: 15rem!important;scroll-behavior: smooth;
   
}
.banner-btn i{
	font-size: 2rem;
}
/*banner text ends*/


/*about start*/

.about-box{
	background-color: black;
	width: 100%;
	height: auto;
	scroll-behavior: smooth;
}
.about-box img{
	width: 55rem;
	padding: 3rem;
	height: auto;
}
.about-text-box{

	padding-top: 8rem;
	margin-top: 8rem;
	justify-content: center;
	text-align: left;

}
.about-text-box h3{
	font-size: 2rem;
	color: white;

}
.about-text-box h1{
	font-size: 4rem;

}
.about-text-box p{
	font-size: 1.5rem;

}
/*about ends*/
























































@media screen and (max-height: 450px) {
  .sidenav {padding-top: 1.5rem;}
  .sidenav a {font-size: 1.8rem;}
}
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	html{
		font-size: 45%;
	}
 }

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

html{
		font-size: 50%;
	}

 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

html{
		font-size: 55%;
	}


 }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

	html{
		font-size: 58%;
	}


 }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

	html{
		font-size: 60%;
	}


 }